body {
    /* background: #161b19; */
    background-image: url("./Images/bg_body_sm.png");
    color: ivory;
    /* background-repeat: repeat; */
    /* background: rgb(233, 233, 233);
    
    color: black; */
    font-size: 1.2rem;
    margin-top: 0;
}

.mainCenterTxt--black {
    background: #373737;
    color: ivory;
}

.mymargin--top {
    margin-top: 5%;
}

.h1--center {
    text-align: center;
    color: lemonchiffon;
    margin-bottom: 2rem;
}

.h1--left {
    text-align: left;
    color: lemonchiffon;
}

/* .container{
    width: 100vw;

} */

img {
    border: 0px;
}

/* .colorize {
    background-image: url('./navbar.png');
    background-size: cover;
    font-size: 1.2rem;
    opacity: 90%;
    z-index: 1;
} */

.resizeimg {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* a.navbar-brand {
    display: contents;
} */

nav {
    box-shadow: 0 6px 10px 1px rgba(0, 0, 0, .8);
    margin-top: -2px;
    padding-top: 1px;
    padding-left: 5%;
    background-image: url("./Images/bg_nav.png");

}


/* #navbarNav {
    padding-right: 3%;
} */

/* .navbar-nav>li>.dropdown-menu {
    background: #f0d2aa;
    font-size: small;
} */

.navbar-nav>li>div>a {
    color: white;
    text-align: left;
    padding: 5%;
    font-size: 1.5em;
}

/* CONTROLS ATTRIBUTES OF THE NAVBAR LINKS */
.navbar-nav .nav-link {
    font-size: 1.3em; /* Increase font size */
    /* padding: 15px 50px; */
    margin: 10px 10px; /* Adjust margin */
    font-weight: 600;
    color: #f0d2aa;
}

.textbox {
    font-size: 2em;
}

/* These control the background colour of paragraphs along some of the static pages of the site */

.blackSquare {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 1em 0 1em 0;
}

.Subtitle {
    font-weight: 800;
    color: #af460a;
    font-size: 2.3rem;
    margin: 2rem auto;
}

.link {
    color: #f0d2aa;
    text-decoration: none;
}

.link:hover {
    color: #8a7860;
    text-decoration: none;
}

footer {
    /* background-image: url(./images/bg_navbar.jpg); */
    background-color: #141817;;
    font-size: 2rem;
    color: ivory;
}

.dateNews {
    color: #af460a;
    font-size: 1.5rem;
}

.button {
    width: 80vw;
}

.mediaThumbnail {
    width: 50%;
    position: absolute;
    bottom: 40px;
    left: 0px;
}

.mediaThumbnail--upperright {
    width: 50%;
    position: absolute;
    top: 40px;
    right: 0px;
}

.mediaThumbnail--upperleft {
    width: 50%;
    position: absolute;
    top: 40px;
    left: 0px;
}

.mediaThumbnail--lowerright {
    width: 50%;
    position: absolute;
    bottom: 20px;
    right: 0px;
}

.watermark {
    width: 30%;
    opacity: 50%;
    bottom: 5px;
    right: 5px;
}

/* Images */

.rounded_image {
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 25px;
}

.img--portfolio {
    display: block;
    /* width: 20%; */
    border: 5px solid rgb(104, 104, 104);
    width: 100%;
    height: 100%;
}

.row div img{
    /* border: 5px solid white; */
}

.mainImg {
    border: none;
}

/* Paragraphs */

article {
    margin-top: 1.5rem;
}

/* navbar */

/* .nav--text {
    font-size: 1.3rem;
} */

/* hr */
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.title{
    font-size: 1.5em;
    font-weight: 500;
}

.custom-icon {
    max-width: 6%; /* Ensure image does not exceed its parent's width */
    height: auto; /* Maintain aspect ratio */
  }

/* Media query for narrow devices (e.g., max-width: 600px) */
@media (max-width: 600px) {
    .custom-icon {
        max-width: 10.2%; /* 20% bigger than 6% */
    }
}

/* Background image */
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 98.8vw;
    height: 65vh; /* Half the height of the viewport */
    object-fit: cover;
    filter: brightness(0.6);
    background-size: cover;
    z-index: -1; /* Place behind other content */
  }



.hidden {
    opacity:0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s;
}

.show {
    opacity: 1; 
    filter: blur(0);
    transform: translateX(0); 
}


.person-photo {
    margin: 0 auto; /* Center the image horizontally */
    max-width: 80%; /* Limit the width of the image */
    padding: 10px; /* Add white margin around the image */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Add shadow to the margin */
    
  }


/* @media (min-width: 768px) {
    .navbar {
        width: 95%; 
        margin-left: 2.5%; 
        margin-right: 2.5%; 
    }
} */

@media (prefers-reduced-motion){
    .hidden{
        transition:none
    }
}

.custom-toggler.navbar-toggler {
    border-color: lightgreen;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.content-BoxGCU{
    /* background-color: #212525; */
    background-image: url("./Images/bg_contentBox.png");
    margin: 0 auto; /* Center the image horizontally */
    max-width: 95%; /* Limit the width of the image */
    padding: 10px; /* Add white margin around the image */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4); /* Add shadow to the margin */
    
  }

.Subcontent-BoxGCU1{
    /* background-color: #212525; */
    background-image: url("./Images/bg_contentBox_light1.png");
    margin: 0 auto; /* Center the image horizontally */
    max-width: 95%; /* Limit the width of the image */
    padding: 10px; /* Add white margin around the image */
    
    
  }

.img-frame {
    background-color: #ffffff23;
    /* White background */
    padding: 10px;
    /* Optional: Add some padding for spacing */
}